<div class="result_box" [ngClass]="showResult ? 'activeResult' : ''">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text">You've Completed The Quizz! <strong>congrats 🎊🎊🎉</strong> </div>
    <div class="score_text" ><span>score finale: <p>{{scoreFinal}} / 5</p></span></div>
    <div class="buttons">
        <button class="quit" (click)="QuitQuizz()">Quit</button>
        <button class="restart" (click)="ReplayQuizz()">Replay</button>
    </div>

