<div class="quiz_box"  [ngClass]="showQuestion ? 'activeQuiz' :''">
    <header>
        <div class="title">Leep tchi Sagnou BRT</div>
        <div class="timer">
            <div class="time_left_txt">Time Off</div>
            <time class="sec">00</time>
        </div>
        <div class="time_line" style="width: 550px;"></div>
    </header>
    <section>
        <div class="que_text"><span>3.Qui ne dit mot,...?</span></div>
        <div class="option_list">
            <div class="option correct disabled" onclick=""><span>conscent</span>
                <div class="icon tick"><i class="fas fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="option disabled" onclick=""><span>est muet</span></div>
            <div class="option disabled" onclick=""><span>ne sait rien</span></div>    
        </div>
    </section>
    <footer>
        <div class="total_que">
            
        </div>
    </footer>
</div>
